<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SlackBot</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h3 class="display-5">SlackBot</h3>
            <p class="lead">View all data from database from both Indeed and Craigslist</p>
            <a href="/settings" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Settings</a>
            <a href="/logout" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Logout</a>
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="indeed-tab" data-toggle="tab" href="#indeed" role="tab"  aria-controls="indeed" aria-selected="true">Indeed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="craigslist-tab" data-toggle="tab" href="#craigslist"  role="tab" aria-controls="craigslist" aria-selected="false">Craigslist</a>
            </li>
          </ul>
          <div class="tab-content" id="mytabcontent">
            <div class="tab-pane fade show active" id="indeed" role="tabpanel" aria-labelledby="indeed-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">City</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                    {% if inListing is defined %}
                      {% for listing in inListing %}
                      <tr>
                        <th scope="col">{{loop.index}}</th>
                        <th scope="col"><a href="{{listing.link}}">{{listing.title}}</a></th>
                        <th scope="col">{{listing.city}}</th>
                        <th scope="col">{{listing.location}}</th>
                        <th scope="col">{{listing.created}}</th>
                      </tr>
                      {% endfor %}
                    {% endif %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="craigslist" role="tabpanel" aria-labelledby="craigslist-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">City</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                   </tr>
                </thead>
                <tbody>
                  {% if clListings is defined %}
                    {% for listing in clListings %}
                    <tr>
                      <th scope="col">{{loop.index}}</th>
                      <th scope="col"><a href="{{listing.link}}">{{listing.name}}</a></th>
                      <th scope="col">{{listing.city}}</th>
                      <th scope="col">{{listing.location}}</th>
                      <th scope="col">{{listing.created}}</th>
                    </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
