<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Indeed/Craigslist SlackBot Settings</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
 </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="jumbotron" style="padding-top:10px;padding-bottom:10px;">
            <h1 class="display-5">SlackBot Settings:</h1>
            <p class="lead">Allows you to set cities,services and keywords.</p>
            <a href="/" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">View Listings</a>
            <a href="/logout" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Logout</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="alert">
          </div>
          <form class="" action="update" method="post" >
            <div class="row">
              <div class="col-3">
                <div class="form-check">
                  {%if clSetting %}
                  <input class="form-check-input" type="checkbox" value="" id="clcheck" data-toggle="toggle" checked="checked">
                  {%else%}
                  <input class="form-check-input" type="checkbox" value="" id="clcheck" data-toggle="toggle">
                  {%endif%}
                  <label class="form-check-label" for="clcheck">
                    <h4>Craigslist</h4>
                  </label>
                </div>
              </div>
              {% if clSetting%}
              <div class="col-9" id="clform">
              {% else %}
              <div class="col-9" id="clform" style="display:none;">
              {% endif %}
                <div id="clList">
                  <!-- TODO: Create Table of existing Entries. Allow for deleting. -->
                  {% if clQuery is defined and clQuery is not none %}
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">City</th>
                        <th scope="col">Area</th>
                        <th scope="col">Category</th>
                        <th scope="col">Internship</th>
                        <th scope="col">Slack Channel</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for query in clQuery %}
                      <tr id="CL{{loop.index}}">
                        <th scope="row">{{loop.index}}</th>
                        <td >{{query.city}}</th>
                        <td >{{query.area}}</th>
                        <td >{{query.category}}</th>
                        <td >{{query.internship}}</th>
                        <td >{{query.slackChannel}}</th>
                        <td > <a href="#" onclick="return deleteRow('craigslist','CL{{loop.index}}');"> <i class="fas fa-trash-alt"></i> </a> </th>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}                </div>
                <div class="form-group" >
                  <label for="clCities">City:</label>
                  <input type="text" class="form-control" id="clCities" placeholder="losangeles">
                </div>
                <div class="form-group">
                  <label for="clAreas">Areas:</label>
                  <input type="text" class="form-control" id="clAreas" placeholder="lac,lgb,sfv">
                </div>
                <div class="form-group">
                  <label for="clKeywords">Categories: </label>
                  <input type="text" class="form-control" id="clCategories" placeholder="soj, jjj">
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="clIntern" id="clIntern">
                  <label class="form-check-label" for="clIntern">
                    Internship
                  </label>
                </div>
                <div class="form-group">
                  <label for="clslack">Slack Channel: </label>
                  <input type="text" class="form-control" id="clslack" placeholder="#losangeles">
                </div>
                <a href="" class="btn btn-primary" role="button" aria-pressed="true" onclick="return add('craigslist');">Add</a>              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <div class="form-check">
                  {% if inSetting %}
                  <input class="form-check-input" type="checkbox" value="" id="incheck" checked="checked">
                  {%else%}
                  <input class="form-check-input" type="checkbox" value="" id="incheck">
                  {%endif%}
                  <label class="form-check-label" for="incheck">
                    <h4>Indeed</h4>
                  </label>
                </div>
              </div>
              {% if inSetting %}
              <div class="col-9" id="indeedform" >
              {% else %}
              <div class="col-9" id="indeedform" style="display:none;">
              {% endif %}
                <div class="inList">
                  <!-- TODO: Create Table of existing Entries. Allow for deleting. -->
                  {% if inQuery is defined and inQuery is not none %}
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">City</th>
                        <th scope="col">Keyword</th>
                        <th scope="col">Slack Channel</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for query in inQuery %}
                      <tr id="IN{{loop.index}}">
                        <th scope="col">{{loop.index}}</th>
                        <td >{{query.city}}</th>
                        <td >{{query.keyword}}</th>
                        <td >{{query.slackChannel}}</th>
                        <td > <a href="#" onclick="return deleteRow('indeed','IN{{loop.index}}');"> <i class="fas fa-trash-alt"></i> </a> </th>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="indeedCities">City:</label>
                  <input type="text" class="form-control" id="indeedCities" placeholder="Los Angeles">
                </div>
                <div class="form-group">
                  <label for="indeedKeywords">Keywords: </label>
                  <input type="text" class="form-control" id="indeedKeywords" placeholder="Web Developer Intern, Computer Science Intern, etc">
                </div>
                <div class="form-group">
                  <label for="inSlack">Slack Channel: </label>
                  <input type="text" class="form-control" id="inSlack" placeholder="#losangeles">
                </div>
                <a href="#" class="btn btn-primary" role="button" aria-pressed="true" onclick="return add('indeed');">Add</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Personal JS -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/settings.js') }}"></script>
  </body>
</html>
